<ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/showdeveloper">All Developer</a></li>
      <li><a href="#">Search</a>
        <ul>
      	  <li><a href="/phpdeveloper">Write PHP Developer</a></li>
          <li><a href="/phpandendeveloper">PHP and English Developer</a></li>
        </ul>
      </li>
      <li><a href="/adddeveloper">Add Developer</a></li>
  </ul>