<!DOCTYPE html>
<html>
<head>
	<title>Add Developer</title>
	<link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>
<div class="main">
   <%include partials/nav.ejs  %>	
	
</div>
</body>
</html>