
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// border-radius
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Button
$btn-padding-x-xs:  .20rem !default;
$btn-padding-y-xs:  .12rem !default;
$input-btn-line-height-xs: 1.2 !default;

$bg-post: #fefefe;